{{define "main"}}
<div class="center-content">
  <div class="left-align">
    <div class="page-header a2a_kit a2a_kit_size_26 a2a_default_style">
      {{ partial "gohome.html" . }} {{ partial "goback.html" . }} {{ partial
      "a2a.html" . }}
    </div>
    <div class="page-title">
      <h2>{{.Title}}</h2>
    </div>
  </div>
  <!-- List all tags -->
  {{if eq .Kind "taxonomyTerm"}} {{range $key, $value :=
  .Data.Terms.Alphabetical}}
  <span
    ><a
      style="color: white; text-decoration: none"
      href='{{ "tags/" | absURL }}{{ $value.Name | lower }}'
      >{{ $value.Name }} ({{.Count }})</a
    ></span
  >
  {{end}} {{else}} {{ range .Pages}} {{if eq .Section "research"}}
  <div class="research-items-list">
    {{ if .Params.imageURL }}
    <div class="content-left">
      <img
        src="{{ .Params.imageURL }}"
        alt=""
        class="research-image"
        id="researchimage" />
    </div>
    {{ end }}
    <div class="content-right">
      <div class="research-summary">
        <h3>
          <a class="link" href="{{ .Permalink }}">{{ .Title }}</a>
          {{ if .Params.Author }} by
          <a class="link" href="{{ .Params.AuthorUrl }}"
            >{{ .Params.Author }}</a
          >
          {{ end }}
          {{ if .Params.PdfURL }}
            <div class="a2a_kit a2a_kit_size_26 a2a_default_style">
              <a class="research-icon" href={{.Params.PdfURL}}>
              <svg 
                aria-hidden="true"
                focusable="false"
                data-prefix="far"
                class="research-icon"
                data-icon="caret-square-left"
                height="29px"
                role="img"
                xmlns="http://www.w3.org/2000/svg" 
                viewBox="0 0 512 512">
                <path 
                fill="currentColor"
                d="M64 464l48 0 0 48-48 0c-35.3 0-64-28.7-64-64L0 64C0 28.7 28.7 0 64 0L229.5 0c17 0 33.3 6.7 45.3 18.7l90.5 90.5c12 12 18.7 28.3 18.7 45.3L384 304l-48 0 0-144-80 0c-17.7 0-32-14.3-32-32l0-80L64 48c-8.8 0-16 7.2-16 16l0 384c0 8.8 7.2 16 16 16zM176 352l32 0c30.9 0 56 25.1 56 56s-25.1 56-56 56l-16 0 0 32c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-48 0-80c0-8.8 7.2-16 16-16zm32 80c13.3 0 24-10.7 24-24s-10.7-24-24-24l-16 0 0 48 16 0zm96-80l32 0c26.5 0 48 21.5 48 48l0 64c0 26.5-21.5 48-48 48l-32 0c-8.8 0-16-7.2-16-16l0-128c0-8.8 7.2-16 16-16zm32 128c8.8 0 16-7.2 16-16l0-64c0-8.8-7.2-16-16-16l-16 0 0 96 16 0zm80-112c0-8.8 7.2-16 16-16l48 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-32 0 0 32 32 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-32 0 0 48c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-64 0-64z"/>
              </svg>
              </a>
            {{ end }}
            {{ if .Params.CodeURL }}
              <a class="research-icon" href={{.Params.CodeURL}}>
              <svg 
                aria-hidden="true"
                focusable="false"
                data-prefix="far"
                class="research-icon"
                data-icon="caret-square-left"
                height="29px"
                role="img"
                xmlns="http://www.w3.org/2000/svg" 
                viewBox="0 0 640 512">
                <path 
                fill="currentColor"
                d="M392.8 1.2c-17-4.9-34.7 5-39.6 22l-128 448c-4.9 17 5 34.7 22 39.6s34.7-5 39.6-22l128-448c4.9-17-5-34.7-22-39.6zm80.6 120.1c-12.5 12.5-12.5 32.8 0 45.3L562.7 256l-89.4 89.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l112-112c12.5-12.5 12.5-32.8 0-45.3l-112-112c-12.5-12.5-32.8-12.5-45.3 0zm-306.7 0c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3l112 112c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256l89.4-89.4c12.5-12.5 12.5-32.8 0-45.3z"/>
              </svg>
              </a>
            {{ end }}
          </div>
        </h3>
        <div class="pubdate" style="margin: 0">
          {{ .PublishDate.Format "1 January 2006" }}
        </div>
        <span class="tags">
          {{ range .Params.Tags }}
          <h5>
            <a class="tag" href='{{ "tags/" | absURL }}{{ . }}'>{{ . }}</a>
          </h5>
          {{ end }}
        </span>
        <div class="research-description" id="researchsummary">
          {{ .Summary }}
          <script src="{{ .Site.BaseURL }}js/variable_description_lines.js"></script>
        </div>
      </div>
    </div>
    {{end}}
  </div>
  {{end}}
</div>
{{end}} {{end}}
