{{define "main"}} {{if eq .Section "research"}}
<div class="center-content">
  <div class="page-header a2a_kit a2a_kit_size_26 a2a_default_style">
    {{ partial "gohome.html" . }} {{ partial "goback.html" . }} {{ partial
    "a2a.html" . }}
  </div>
  <div class="page-title">
    <h2>{{.Title}}</h2>
  </div>
  {{ if .Params.Author }}
  <p>By <a href="{{ .Params.AuthorUrl }}">{{ .Params.Author }}</a></p>
  {{ end }}
  <p class="pubdate">
    {{ .PublishDate.Format "January 2006"}}
    <br />
  </p>
  <span class="tags">
    {{range .Params.Tags }}
    <h5><a class="tag" href='{{ "tags/" | absURL }}{{.}}'>{{.}}</a></h5>
    {{end}}
  </span>
  {{ if .IsTranslated }}
  <p>Also available in:</p>
  <nav class="LangNav">
    {{ range .Translations }}
    <a class="link" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
    {{ end}}
  </nav>
  {{ end }}
  <div class="text-content">{{.Content }}</div>
</div>
{{else}}
<div class="center-content">
  <div class="page-header a2a_kit a2a_kit_size_26 a2a_default_style">
    {{ partial "gohome.html" . }} {{ partial "goback.html" . }} {{ partial
    "a2a.html" . }}
  </div>
  <div class="page-title">
    <h2>{{.Title}}</h2>
  </div>
  <div class="text-content">{{.Content }}</div>
</div>
{{end}} {{end}}
