@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

* {
  font-family: "Lato", Arial;
}

.a2a_button {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 5px;
  background-color: #000; /* Default dark color */
  border-radius: 50%;
}

/* Dark theme media query */
@media (prefers-color-scheme: dark) {
  .addtoany .a2a_button {
    background-color: #fff; /* Change to white in dark mode */
    color: #000; /* Change text color to black in dark mode */
  }
}
