@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

* {
  font-family: "Lato", Arial;
}

.a2a_button {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 5px;
  background-color: #000; /* Default dark color */
  border-radius: 50%;
}

/* Dark theme media query */
@media (prefers-color-scheme: dark) {
  .addtoany .a2a_button {
    background-color: #fff; /* Change to white in dark mode */
    color: #000; /* Change text color to black in dark mode */
  }
}

/* Light theme media query */
@media (prefers-color-scheme: light) {
  .addtoany .a2a_button {
    color: #fff; /* Change to white in dark mode */
    background-color: #000; /* Change text color to black in dark mode */
  }
}

@media screen and (max-width: 768px) {
  .topbar {
    flex-direction: column; /* Stack items vertically */
    align-items: stretch; /* Stretch items to full width */
  }

  .social,
  .nav,
  .color-scheme {
    flex: 0 1 100%; /* Take full width on smaller screens */
  }

  .color-scheme {
    margin-inline-start: 40%;
  }
}
