@import "variables";

.row:after,
.row:before {
  box-sizing: border-box;
  display: table;
}

.article-container {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 50px;
  // padding: 1rem 20px 0 20px;
  // margin: 0 auto 0 auto;
}

.article-style img,
.article-style video {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 0;
}

.article-style td img,
.article-style td video {
  margin-top: 0;
  margin-bottom: 0;
}

.article-style figure {
  margin-top: 60px;
  margin-bottom: 60px;
}

.article-style figure img {
  margin-top: 0;
  margin-bottom: 0;
}

.fa {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  transition: all 150ms ease-in-out;
  color: #fff;
}


.open > .dropdown-toggle.btn-primary {
  background: $primary-accent-color !important;
}

.btn-light {
  border-color: #fff !important;
  background: #fff !important;
}

.btn-light:hover,
.btn-light:active,
.btn-light.active {
  background: $dark-color !important;
}


.pub-icon {
  color: $dark-color;
  font-size: 0.81em;
  // padding-top: 6px;
}

.pub-banner {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}


.pubcontainer {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  gap: 2%;
}

.pubtext {
  flex: 4;
  text-align: left;
  position: relative;
}

.pubid {
  flex: 1;
  color: $light-color;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  border-color: $primary-accent-color !important;
  background: $primary-accent-color !important;
  text-decoration: none;
  text-align: center;
  // display: inline-block;
}

.pub .pub-authors {
  font-style: italic;
  line-height: 30px; /* Match share bar line height. */
}

.pub .pub-row-heading {
  font-weight: bold;
}

.pub-list-item .pub-abstract {
  font-size: 1rem;
}

.pub-list-item .pub-authors {
  line-height: normal;
  font-style: normal;
  font-size: 1rem;
  color: $primary-accent-color;
}

.pub-list-item .pub-publication {
  color: #090;
  font-size: 1rem;
}

.pub-list-item .pub-links {
  padding-top: 10px;
}

#container-publications {
  display: block;
  position: relative;
  overflow: hidden;
}


/*************************************************
 *  Projects
 **************************************************/

#projects.home-section li {
  margin-bottom: 1rem;
}

#projects.home-section li:last-of-type {
  margin-bottom: 0;
}

#projects.home-section .project-title {
  margin-bottom: 6px;
}

#projects.home-section .project-summary {
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
}

#projects.home-section .project-tags {
  font-size: 0.75rem;
  color: #9c9c9c;
}

.projects-container {
  display: block;
  position: relative;
  /*margin-top: 5rem;*/
  overflow: hidden;
}

.project-toolbar{
  margin-bottom: 2rem;
}

.project-item {
  margin-bottom: 1.5rem;
}

.isotope-item {
  z-index: 2;
}

.isotope-item:hover{
  z-index: 3;
}

// .space-below {
//   margin-bottom: 50px;
// }
// @media screen and (max-width: 1000px) {
//   .space-below {
//     margin-bottom: 10px;
//   }
// }


.btn-primary {
  cursor: pointer;
  color: $light-color;
  border-color: $primary-accent-color !important;
  background: $primary-accent-color !important;
  background: linear-gradient(
    90deg,
    $primary-accent-color 0%,
    $secondary-accent-color 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$primary-accent-color",endColorstr="#0a8fa8",GradientType=1);
  text-decoration: none;
}

.dark .btn-primary a {
  color: $dark-color;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary:visited {
    text-decoration: none;
    border: 2px solid $primary-accent-color;
    animation: blueToWhite 0.4s linear;
}

.btn-large {
  font-size: 1.1rem;
}

/*************************************************
 *  Button Primary: Color Override
 **************************************************/

.btn-light {
  border-color: #fff !important;
  background: #fff !important;
}

.btn-light:hover,
.btn-light:active,
.btn-light.active {
  background: rgba(0,0,0,0.4) !important;
}

/*************************************************
 *  Toolbar Buttons
 **************************************************/

.btn-toolbar .btn-primary {
  font-size: 0.9rem;
  padding: 10px 14px 9px;
  border: none;
}

.btn-toolbar .btn:first-child {
  border-radius: 6px 0 0 6px;
}

.btn-toolbar .btn:last-child {
  border-radius: 0 6px 6px 0;
}

// .btn-toolbar .btn.btn-primary:hover,
// .btn-toolbar .btn.btn-primary:focus {
//   background-color: $dark-color !important;
// }

// .btn-toolbar .btn.btn-primary:active,
// .btn-toolbar .btn.btn-primary.active {
//   background-color: $light-color !important;
// }

/*************************************************
 *  Button Outlines
 **************************************************/

.btn-outline {
  background-color: transparent !important;
  color: inherit;
  transition: all .5s;
}

.btn-primary.btn-outline {
  color: $primary-accent-color !important;
  border-color: $primary-accent-color !important;
}

.btn-primary.btn-outline:focus {
  color: $primary-accent-color !important;
}

.btn-primary.btn-outline:active {
  color: #fff !important;
}

.btn-light.btn-outline {
  color: #fff !important;
  border-color: #fff !important;
}

.btn-light.btn-outline:focus {
  color: #fff !important;
}

.btn-light.btn-outline:active {
  color: transparent !important;
}

.btn-success.btn-outline {
  color: #5cb85c;
}

.btn-info.btn-outline {
  color: #5bc0de;
}

.btn-warning.btn-outline {
  color: #f0ad4e;
}

.btn-danger.btn-outline {
  color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-light.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff !important;
}